*

!.gitignore

!README.md
!UNLICENSE

!bootstrap.sh

!.dotfiles.conf

!.bashrc
!.minttyrc
!.tmux.conf
!.vim/
!.vim/plugins.vim
!.vim/bundle/
!.vim/bundle/Vundle.vim
!.vimrc
!.xinitrc
!.Xresources
!.zshrc

!.config/
!.config/htop/
!.config/htop/htoprc
