*

!.gitignore

!README.md
!UNLICENSE

!bootstrap.sh

!.dotfiles.conf

!.tmux.conf
!.vim/
!.vim/plugins.vim
!.vimrc
!.weechat/
!.weechat/buffers.conf
!.weechat/weechat.conf
!.xinitrc
!.xmonad/
!.xmonad/icons/
!.xmonad/icons/*
!.xmonad/conkyrc
!.xmonad/xmonad.hs
!.Xresources
!.zsh/
!.zsh/*
!.zshrc
