URxvt*termName:	screen-256color
URxvt*inheritPixmap:	false
URxvt*scrollBar:	true
URxvt*perl-ext:	
URxvt*boldFont:	xft:EnvyCodeR:Bold:size=10,xft:VL PGothic:bold:size=10
URxvt*urgentOnBell:	false
URxvt*scrollBar_right:	true
URxvt*borderLess:	false
URxvt*scrollstyle:	plain
URxvt*visualBell:	false
URxvt*perl-ext-common:	
URxvt*skipBuiltinGlyphs:	true
URxvt*saveLines:	5000
URxvt*font:	xft:EnvyCodeR:size=10,xft:VL PGothic:regular:size=10
xrenoise.use_xcursors:	1
xrenoise.display:	:1
xrenoise.display_resource:	0x00,0x32,0xEC,0x96,0x35,0xF5,0xA5,0x86
xrenoise.executable_path:	/usr/bin/renoise3
*color7:	#eee8d5
*color13:	#6c71c4
*foreground:	#657b83
*internalBorder:	0
*color8:	#002b36
*color14:	#93a1a1
*color15:	#fdf6e3
*color9:	#cb4b16
*background:	#002b36
*pointerColorBackground:	#586e75
*cursorBlink:	true
*pointerColorForeground:	#93a1a1
*color0:	#073642
*color2:	#859900
*cursorColor:	#93a1a1
*color1:	#dc322f
*color3:	#b58900
*color10:	#586e75
*externalBorder:	0
*color4:	#268bd2
*fadeColor:	#002b36
*color11:	#657b83
*color5:	#d33682
*fading:	40
*color12:	#839496
*color6:	#2aa198
